
/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
}

button {
    font: inherit;
    text-decoration: none;
    border: none;
}

input {
    font: inherit;
    text-decoration: none;
    border: var(--neutral-color) solid 1px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover, a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}

/* || VARIABLES */

:root {
    /* COLOURS */
    --primary-color: #001F3F;      /* Deep Blue */
    --secondary-color: #39FF14;    /* Green */
    --background-color: #f8f9fa;   /* Clouds */
    --text-color: #2c3e50;         /* Midnight Blue */
    --accent-color: #FF851B;       /* Purple */
    --neutral-color: #6B6B6B;       /* Concrete */
}

/* UTILITY CLASSES */

.underline {
    text-decoration: underline;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.no-wrap {
    white-space: nowrap;
}

.accent{
    color: var(--accent-color);
}

.no-decoration {
    text-decoration: none;
}

.center-text {
    text-align: center;
}

/* GENERAL STYLES */

html{
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* || BLOCKS/COMPONENTS */

.div__display{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    /* max-width: 100%; */
}

.btn__right {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
}

.btn__menu {
    border: 1px solid var(--neutral-color);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.btn__controls {
    border: 1px solid var(--neutral-color);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.btn__selected {
    border: 1px solid var(--neutral-color);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--accent-color);
}

.btn__match {
    border: 1px solid var(--neutral-color);
    padding: 0.5rem;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.btn__action {
    border: 1px solid var(--neutral-color);
    padding: 0.5rem;
    margin: 0.5rem;
}

.input__toggle {
    display: inline-block;
    border: 1px solid var(--neutral-color);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.input__text {
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.header {
    padding: 4rem 2rem 2rem;
}

.footer {
    padding: 2rem;
}

/* || MODIFIERS */

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--accent-color);
}

#root {
    max-width: 70%;
}